nav {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin: 0 auto;
}
.top2 {
  display: flex;
  width: 40vw;
  justify-content: space-around;
  list-style-type: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 120%;
}

.top li {
  color: lightcoral;  
  letter-spacing: 2px;
  border-right: 3px solid lightblue;

}
section i {
  font-size: 300%;
  color: lightcoral;
  animation-duration: 3s;
}
.top li:hover {
  color: lightcoral;
}

/* .header {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;

  color: red;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  border: 0;
  background-repeat: no-repeat;
  background: red;
} */
/* nav section {
  background: yellow;
} */
/* .top2 {
  display: flex;
  justify-content: space-between;
  text-decoration-style: none;
  background: blue;

} */
/* .top li {

  letter-spacing: 2px;
  border-right: 1px solid grey;
  padding-right: 5px;
} */

.top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*

#notifications {
  color: lightcoral;
  font-size: 200%;
  border-right: 0px solid grey;
  padding-right: 0;
}
#notifications i {
  color: red;
}
a:visited {
  color: none;
} */
