@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.containing-carousel {
  /* margin-top: 40vh; */
  /* width:100%; */

  margin: 0 auto;
  /* border: 1px solid red; */
  /* display: flex; */
  /* border: 2px solid green; */

  /* flex-direction: row; */
  /* justify-content: space-between; */
}
.newer {
  /* border: 1px solid cyan; */
  display: flex;
  justify-content: center;
}
.notifications {
  width: 60vw;
  margin: 0 auto;
  /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTguS2cwj4SY2kFoghiOMfx9l4cvTcO8HbI5mrsSonCRG4c6yzS"); */
  background-repeat: no-repeat;
  opacity: 0;
  background-size: cover;
  background-position: center;
  font-family: "Playfair Display", serif;
}
.commenters {
  display: flex;
  /* border: 1px solid blue; */
  max-width: 20vw;
  /* margin: 20px; */
  /* justify-content: space-between; */
  margin-top: 50px;
  border-right: 2px solid lightblue;
  margin-right: 10vw;
  padding-right: 2vw;
}
.comment_stuff {
  /* margin-left: 25vw; */
  /* margin-bottom: 100px; */
  /* max-width: 25vw; */
  display: flex;
  flex-direction: column;
}
.commenters img {
  /* object-fit: contain; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* display: inline; */
}
.info {
  display: flex;
  /* flex-direction: column; */
  padding: 0;
}
.info i {
  margin-top: 5vh;
  font-size: 200%;
}
.fa-female {
  color: blue;
}
.fa-male {
  color: lightcoral;
}
.slick-arrow {
  color: red;
  /* background: blue; */
  /* padding: 20px; */
  /* z-index: 4; */
}
.slick-arrow::before {
  color: blue;
}
.lines {
  height: 2vh;
  width: 1px;
  background: red;
  align-self: center;
}
